<li class='d-flex align-items-center'>
  <%= gravatar_for user %>
  Name: <%= user.name %><br>

  <span class="ms-2 mb-0 profile-link">
    &nbsp;
    <%= link_to 'See Profile', user_path(user), class: 'profile-link' %>

    <% unless a_rejected(user) %>
     <%= show_friendship_options(user) %>
    <% end %>
  </span>
</li>

